.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    width: 400px;
    border-radius: 400px;
    margin-top: 75px;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 60px;
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(267deg, #25dad7 0.36%, #2329e1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(267deg, #25dad7 0.36%, #2329e1 102.06%);
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.hero-connect:hover{
    border: 2px solid #fff;
}
.hero-resume:hover{
    border-color: #2329e1;
}